
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    background: url(https://picsum.photos/id/114/200/300?grayscale&blur=1) no-repeat center center fixed;
    background-size: cover;
}

